{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h1>{{ profile }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="job_sumary">
                    <div class="user_image text-center mb-4">
                        {% if profile.image %}
                            <img src="{{ profile.image.url }}" alt="User Image" class="img-fluid rounded-circle" width="450">
                        {% else %}
                            <img src="{% static 'img/default_user.png' %}" alt="Default Image" class="img-fluid rounded-circle" width="450">
                        {% endif %}
                    </div>
                    <div class="summery_header">
                        <h3>Profile Summary</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Name: <span>{{ profile}}</span></li>
                            <li>Email: <span>{{ profile.user.email }}</span></li>
                            <li>Phone: <span>{{ profile.phone_number }}</span></li>
                            <li>Address: <span>{{ profile.city }}</span></li> 
                            <li>specialization: <span>{{ profile.specialization }}</span></li> 
                        </ul>
                    </div>
                    <div>
                        <a href="{% url 'accounts:profile_edit' %}" class='btn btn-success btn-lg w-30'>Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
