{% extends "base.html" %}
{% block content %}
    

<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>
                        {% block title %}
                            
                        {% endblock title %}
                            </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                     {% block content2 %}
                        
                     {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    